.gallery {
    .project-img {
        opacity: 0;
    }
    transition: all 0.5s ease;
    .flickity-page-dots {
        opacity: 0.8;
        bottom: -40px;
        .dot {
            height: 5px;
            width: 5px;
        }
    }
    position: absolute;
    width: 100%;
    top: 46%;
    transform: translateY(-50%);
    padding-bottom: 40%;
    // @media (max-width: $screen-sm-min) {
    //     padding-bottom: 100%;
    // }
    .flickity-viewport {
        position: absolute;
        width: 100%;
    }
    .gallery-cell {
        font-family: $font-family-serif;
        font-size: 16px;
        line-height: $line-height-computed*1.1;
        .project-cta {
            z-index: 99999;
            opacity: 0;
            text-align: center;
        }
        &.is-selected {
            .project-cta {
                opacity: 1;
                position: absolute;
                width: 180px;
                top: 50%;
                transform: translateY(-50%);
                .download-appstore{
                    position: absolute;
                    top: 10%;
                    left: 20%;
                    // transform: rotate(-31deg);
                    width: 100%;
                    top: 85%;
                    left: 35%;

                }
                span {
                    &:first-child {
                        padding: 10px;
                        z-index: 999999;
                        background: $brand-info;
                        position: relative;
                        top: 183px;
                        left: 87px;
                        @media (max-width: $screen-lg-min) {
                            left: 20%;
                        }
                        transform: rotate(-31deg);
                        display: block;
                        color: lighten($gray-light, 10%);
                    }
                }
                span {
                    &.arrow-grey {
                        position: relative;
                        img {
                            transform: rotate(180deg);
                            width: 125px;
                        }
                    }
                }
                &.nexus {
                    left: 68%;
                }
                &.safari {
                    left: 94%;
                }
                &.iphone4s {
                    left: 67%;
                }

            }
            .project-desc {
                opacity: 1;
                span {
                    &:first-child {
                        z-index: 999999;
                        background: $brand-info;
                        padding: 10px;
                        position: absolute;
                        left: -225px;
                        @media (max-width: $screen-lg-min) {
                            left: -160px;
                            top: -60px;
                        }
                        top: -91px;
                        width: 178px;
                        text-align: center;
                        transform: rotate(-25deg);
                        color: lighten($gray-light, 10%);
                    }
                }
                .icon-info {
                    z-index: 999999;
                    width: 36px;
                    display: block;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.8;
                    }
                    img {
                        &:nth-child(1) {
                            vertical-align: baseline;
                            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
                        }
                    }
                }
                .arrow-grey {
                    position: absolute;
                    left: -145px;
                    width: 125px;
                    top: -64px;
                    img{
                        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0)) !important;
                    }
                }
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                &.nexus {
                    left: 27%;
                    @media (max-width: $screen-sm-min) {
                        left: 6%;
                    }
                }
                &.safari {
                    left: 2%;
                    @media (max-width: $screen-sm-min) {
                        left: -2%;
                    }
                }
                &.iphone4s {
                    left: 28%;
                    @media (max-width: $screen-sm-min) {
                        left: 7%;
                    }
                }

            }
        }
        @media (max-width: $screen-sm-min) {
            opacity: 0;
        }
        counter-increment: gallery-cell;
        width: 66%;
        height: 100%;
        .device-img {
            @include scale(0.8);
            opacity: 0.2;
            display: block;
            margin: 0 auto;
            height: 100%;
            transition: all 0.2s ease;
        }
        .project-img-container {
            .project-img {
                position: absolute;
                transition: all 0.5s ease;
            }
            &.nexus {
                cursor: url(../img/my-cursor.svg), auto;
                .project-img {
                    left: 50%;
                    transform: translate(-50%, -114.38%);
                    width: 26.7%;
                    // @media (max-width: $screen-sm-min) {
                    //     width: 66.7%;
                    // }
                }
            }
            &.iphone4s {
                cursor: url(../img/my-cursor.svg), auto;
                .project-img {
                    left: 50.1%;
                    transform: translate(-50%, -127%);
                    width: 26.2%;
                    // @media (max-width: $screen-sm-min) {
                    //     width: 65.5%;
                    //     transform: translate(-50%, -127%);
                    // }
                }
            }
            &.iphone6{
                cursor: url(../img/my-cursor.svg), auto;
                .project-img {
                    left: 50.1%;
                    transform: translate(-50%, -114%);
                    width: 27.2%;
                }
            }
            &.safari-1440 {
                cursor: url(../img/my-cursor-b.svg), auto;
                .project-img {
                    left: 50%;
                    transform: translate(-50%, -104.3%);
                    width: 82.4%;
                    // @media (max-width: $screen-sm-min) {
                    //     width: 65.5%;
                    //     transform: translate(-50%, -127%);
                    // }
                }
            }&.safari-1440-837 {
                cursor: url(../img/my-cursor-b.svg), auto;
                .project-img {
                    left: 50%;
                    transform: translate(-50%, -104.3%);
                    width: 82.4%;
                    // @media (max-width: $screen-sm-min) {
                    //     width: 65.5%;
                    //     transform: translate(-50%, -127%);
                    // }
                }
            }
        }
    }
    .is-selected {
        transition: all 0.5s ease;
        .project-img {
            opacity: 1;
        }
        .project-desc {
            opacity: 1;
        }
        // transform: translateX(-10%);
        @media (max-width: $screen-sm-min) {
            opacity: 1;
        }
        .device-img {
            @include scale(1);
            opacity: 1;
        }
    }
}

.flickity-prev-next-button {
    width: 70px;
    height: 70px;
    background: transparent;
}

.flickity-prev-next-button:hover {
    background: transparent;
}

.flickity-prev-next-button:disabled {
    opacity: 0.2;
}


/* arrow color */

.flickity-prev-next-button .arrow {
    fill: #1F1F1F;
}

.flickity-prev-next-button.no-svg {
    color: #1F1F1F;
}


/* position outside */

.flickity-prev-next-button.previous {
    // left: -40px;
}

.flickity-prev-next-button.next {
    // right: -40px;
}
